
body {
    color: #849493;
    font-family: gordita,Helvetica,Arial,Verdana,sans-serif;
    font-weight: 400;
    font-size: inherit;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

i, cite, em, var, address, dfn {
    font-style: italic !important;
}

.hover_dropdown:hover {
    color: #849493;
    font-size: 12px;
}

.card_container {
    padding-bottom: 10px;
    margin-top:20px;
}
.row-comment_editor {
    position:relative;
}


* {
    box-sizing: border-box;
}

.row {
    margin-left: 0px !important;
    padding-bottom: 10px;
}


.row-search {
    margin-left: 0px !important;
    padding-bottom: 10px;
    justify-content: space-between;

}

.row-comment {
    display: flex;

    position: relative;
}
.sort__by {
    padding-right: 0px !important;
    padding-left: 0px !important;
    box-sizing: border-box !important;
}
/* Continer setup */
.container{
    max-width: 700px;
    margin:10px;
    padding-left: 0px !important;
    /* padding-right:0px !important; */
    border: 0px !important;
    /* border-radius: 4px;  */
    background: #fff;
    box-shadow: 1px 2px 5px 0 rgba(52,40,22,.04), 0 1px 2px 0 rgba(53,40,22,.04);
    /* height: 100%; */
    box-sizing: inherit;
    margin: auto !important;
}

.communities__filter2--current .icon {
    padding-right:20px !important;
    margin-right:-13px !important;
}
.sort_dropdown_main {
    width:150px;
    z-index: 1000;
}


.communities__filter2--current .icon_container {
    margin-left:20px;
}

.comment_field--focused .comment_editor:not(.review_editor--new) .rich_content_editor--focused .ql-editor {
    min-height: 85px;
}

.discussion__sort_dropdown {
    line-height:13px; 
}

.communities__filter2_list {
    margin-top: 4px;
    padding: 0;
    min-width: 170px;
    width: auto;
}
.dropdown_index{
    line-height:30px;
    padding-top:10px;
    background: #f5f7f7;
    background: #fff;
    box-shadow: 0 2px 3px 0 rgba(4,43,40,.1);
    border-radius: 3px;
    border: 1px solid rgba(4,43,40,.1);
    font-size: 14px;
    margin-top:20px;
    min-width: 155px;
    z-index:1000;


}




.discussion__sort_dropdown .sort_dropdown .icon_container {
    position: relative; 
}


.sort_dropdown{
    font-family: gordita,Helvetica,Arial,Verdana,sans-serif;
    position:relative;
}
.col-4 {
    padding-left: 0px !important;
}
/* row-comment thread */
.container-comment {
    padding: 10px;
    height: 100%;
    border: 1px solid #d9dede;
    border-radius: 4px;
    padding-left: 10px !important;
    position: relative !important;
}

.container-search {
    padding-top: 10px;
}


.avatar_wrapper {
    padding-left: 5px !important;
    padding-right: 10px !important;
    float:left;
}

.column{
    max-width: 60px;
    min-width: 60px;
    border:20px !important;
}

.column2 {
    position: relative;
    padding: 0px 10px 10px 5px;
    flex-basis:85%;
}

.avatar_wrapper_img{
    padding-left: 0px;
    align-self: flex-start;
    min-width: 46px;
    max-width: 55px;
    /* margin-right: 10px; */
}

.avatar {
    border-radius: 50%;
    border: 1px solid #d9dede;
    float:left;
    display: blocks;
    width:100%;
    padding-left: 0px;
    /* margin-right: 10px; */
    /* height: 100%; */
    min-width: 46px !important;
    max-width: 46px !important;
}


/* row-comment comment  */

.comment {
    /* padding-left: 40px; */
    border: 1px solid #d9dede;
    border-radius: 4px; 
    background: #fff;
    box-shadow: 1px 2px 5px 0 rgba(52,40,22,.04), 0 1px 2px 0 rgba(53,40,22,.04);
    /* position: relative; */
    height:45px;

}

.avatar_wrapper_img {
    padding-right:10px;
}

.row--comment_field_footer {

}
/* Comment Thread */
.col-11 .flexItem {
    position: relative;
    margin-left: 10px;
}


.comment_edit {
    box-sizing: relative;
}
.ql-toolbar {
    display: flex;
}

.ql-snow .ql-editor pre.ql-syntax {
    background-color: #23241f;
    color: #f8f8f2;
    overflow: visible;
}
.btn-secondary {
    font-family: gordita,Helvetica,Arial,Verdana,sans-serif;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: .6px;
    line-height: 9px;
    border-color: #d9dede;
    color: #849493;
}
.btn-secondary {
    color: #849493 !important;
    background-color: #ffffff !important;
    border-color: #ffffff !important;
}


.btn-secondary::hover {
    border-color: #18d7cc ;
    color: #18d7cc;

}
.social_sharing_icon__icon {
    line-height: 25px  !important ;
}


.communities__filter2--current {
    border-width: 1px;
    border-style: solid;
    border-radius: 3px;
    padding: 10px;
    height: 33px;
    text-align: left;
    user-select: none;
    letter-spacing: .5px;
    margin-right: 15px !important;
    white-space: nowrap;
    min-width: 200px;
}

.btn {
    float:right;
}
.rich_content_editor {
    box-sizing: absolute;
    position:relative;
    width: 95%;
    margin-right: 10px;
    color: #5b6a69;
    border: none;
    padding: 0;

}
.comment__display {
    position: relative;
}

.comment__body {
    font-family: Lato,Helvetica,Arial,Verdana,sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 22px;
    color: #5b6a69;
    display: block;
    margin: 0;
    max-width: none;
}



.row {
    padding-bottom:10px;
    position: relative;
    display: flex;
}

.col .flexItem .comment_edit .row-comment_editor {
    position: relative;

}
/* 
.content_card .comment {

} */


.content_card {
    padding: 20px !important;
}

.flexItem .input-section {
    border-radius: 3px;
    border: 1px solid #d9dede;
    width: 100%;
    display:flex;
    padding: 8px 10px;
    position: absolute;
    -webkit-animation: slide-down .2;
    background:transparent;
    z-index: 1; 
    overflow: hidden;
    min-height: 100%;
    
}
.ql-snow, .ql-snow * {
    box-sizing: border-box;
}

.row--comment_field_footer {
    -webkit-animation: fade_in .3s ease-in;
    animation: fade_in .3s ease-in;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;

    align-items: flex-start;
    font-family: gordita,Helvetica,Arial,Verdana,sans-serif;
}

.enter-text-button {
    width: 100%;

}

.discussion_content {
    z-index: 1;
}


/* =================== SEARCH ================*/
.discussion_search {
    position: relative;
}


.discussion_search .discussion_search_field {
    width:100%;
    height: 33px;
    padding-left: 30px;
    vertical-align: middle;
    line-height: normal;
    font-weight: 500;

}


.form_text_field {
    background: #fff;
    border: 1px solid #849493;
    border-radius: 3px;
    font-size: 16px;
    height: 40px;
    line-height: 1.5;
    padding: 7px 8px;
    width: 304px;
    
}


input[type=text]:focus, form_text_field:focus{
    border-color:#18d7cc !important;
}
.form_text_field:focus{
    background: #fff;
    border: 1px solid #18d7cc !important;
    border-radius: 3px;
}

.discussion_search .site_search_icon_label {
    top: -5px;
    margin-right:0;
    position: absolute;
    left: 5px;
}

.site_searchbar_icon {
    display: inline-block;
    font-size: 21px;
    position: relative;
    z-index: 1;
    top: 6px;
}

/*  */
.button--small {
    padding: 0;
    min-width: 80px;
}

.button--solid {
    margin-right: 10px;
}

.row--comment__editor {
    height: 500px;
}
.ql-container {
    height: 50px;
}


.ql-toolbar .ql-formats:nth-child(2) {
    margin-left: 5px;
    padding-left: 5px;
    border-left: 2px solid #d9dede;
}

.ql-toolbar button {
    width: auto;
    margin: 0 1px;
    color: #849493 !important;
}
.ql-toolbar .ql-stroke {
    stroke: #849493 !important;
}

.ql-toolbar .ql-fill {
    fill: #849493 !important;
}

.atomic_styles__container .ql-toolbar button.ql-image::after {
    content: "ADD IMAGE";
    display: inline-block;
    vertical-align: middle;
    height: 10px;
    font-size: 9px;
    margin-left: 4px;
    letter-spacing: .4px;
    font-weight: 500;
}
.button--green.button--solid {
    background: #14b6ad;
    border-color: #14b6ad;
    color: #fff;
}

.ql-toolbar {
    border-bottom: none;
    border-radius: 3px 3px 0 0;
}
.material-icons {
    vertical-align: middle;
}

.button.button--disabled, fieldset[disabled] .button {
    cursor: default;
    opacity: .3;
    pointer-events: none;
}
.ql-toolbar.ql-snow {
    border: 1px solid #d9dede;
    background-color: #f5f7f7;
    border-radius: 3px 3px 0px 0px; 
    box-sizing: border-box;
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
    padding: 4px 8px 4px 8px !important;

}
.dropdown_button{
    border: 1px solid #d9dede;
    border-radius: 0px 0px 3px 3px; 

}

.massdrop--new_atomic_styling .atomic_styles__container .ql-toolbar button.ql-image:after {
    content: "ADD IMAGE";
    display: inline-block;
    vertical-align: middle;
    height: 10px;
    font-size: 9px;
    margin-left: 4px;
    letter-spacing: .4px;
    font-weight: 500;
}

.ql-snow, .ql-snow * {
    box-sizing: border-box;
}

.massdrop--new_atomic_styling .atomic_styles__container .ql-toolbar button.ql-image {
    white-space: nowrap;
}
.ql-snow.ql-toolbar button, .ql-snow .ql-toolbar button {
    background: none;
    border: none;
    cursor: pointer;
    display: inline-block;
    float: left;
    height: 24px;
    padding: 3px 5px;
    width: 86.11px
}

.ql-snow .ql-formats:after {
    clear: both;
    content: "";
    display: table;
}

.ql-italic,  .ql-toolbar button {
    width: auto;
    margin: 0 1px;
    color: #849493;
}

.massdrop--new_atomic_styling .atomic_styles__container .ql-toolbar .ql-formats:not(:first-child) {
    margin-left: 5px;
    padding-left: 5px;
    border-left: 2px solid #d9dede;
}

.ql-container .ql-snow {
    height: 70px !important;
}

.ql-container {
    border: 1px solid #d9dede;
    border-radius: 0px 0px 3px 3px; 

    /* border-radius: 0 0 3px 3px; */
}
.massdrop--new_atomic_styling .atomic_styles__container .ql-toolbar {
    border-bottom: none;
    border-radius: 3px 3px 0 0;
    padding: 4px 8px;
}

.massdrop--new_atomic_styling .atomic_styles__container .ql-toolbar, .massdrop--new_atomic_styling .atomic_styles__container .ql-toolbar .ql-icon-picker .ql-picker-options {
    background: #f5f7f7 !important;
    height: 32px;
    border: 1px solid #d9dede;
}

.hover_dropdown:hover{
    background-color: #849493;
    color: #18d7cc;
    
}

/* li:hover{
    
} */

.button {
    background: transparent;
    border: 1px solid transparent;
    border-radius: 3px;
    display: inline-block;
    padding-top: 0;
    padding-bottom: 0;
    text-align: center;
    touch-action: manipulation;
    user-select: none;
}

.button, a.button.links.links--with_text>span {
    font-weight: 500;
    letter-spacing: .5px;
    text-transform: uppercase;
    vertical-align: middle;
}


button, html input[type=button], input[type=reset], input[type=submit] {
    -webkit-appearance: button;
    cursor: pointer;
}

button {
    overflow: visible;
}
.button--ghost.button--bare {
    color: #849493;
}

.button--small {
    min-width: 90px;
}
button, input, optgroup, select, textarea {
    color: inherit;
    font: inherit;
    margin: 0;
}


.massdrop--new_atomic_styling .atomic_styles__container .comment__field {
    background: #fff;
    background-image: initial;
    background-position-x: initial;
    background-position-y: initial;
    background-size: initial;
    background-repeat-x: initial;
    background-repeat-y: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: rgb(255, 255, 255);
    color: #042b28;
    margin: 0;
}



/* ======================= Conversation main ================================== */
.atomic_styles__container .comment {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: underline;
}
.comment .avatar__wrapper_link--root .avatar__wrapper {
    height: 100%;

}

.comment .avatar__wrapper {
    max-width: 32px;
    max-height: 32px;
    min-width: inherit;
    box-sizing: relative;
}

.comment_owner__avatar--large {
    min-width: 46px;
    width: 46px;
    margin-right: 10px;
}

.avatar__wrapper {
    background: #d9dede;
    border-radius: 50%;
    box-sizing:relative;
}

.avatar {
    border-radius: 50%;
    border: 1px solid #d9dede;
    float: left; 
}

img.responsive {
    display: block;
    width: 100%;
    box-sizing:relative;

}

.comment .avatar__wrapper_link--root {
    max-height: 32px;

}

.links--normal {
    color: #849493;
}

.comment_owner__avatar--large {
    min-width: 46px;
    width: 46px;
    margin-right: 10px;
}

.row-search {
    padding-bottom:0px !important;
}



.col {
    position: relative;
    width: 100%;
    padding-top: 0px !important;
    padding-right: 0px !important;
    padding-left: 0px !important;
    padding-bottom:0px !important;
}





/* ==================== Conversation - Comment Main ================== */
.outer_col {
    display: flex;
    padding-top: 10px !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
}
.content_card  {
    display: flex;
    padding:20px;
    height:auto;
}
.comment__main {
    flex-basis: 100%;
    min-width: 0;
    position: relative;
}


.flexContainer {
    -webkit-align-content: flex-start;
    -ms-flex-line-pack: start;
    align-content: flex-start;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
}

.flexItem {
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    -ms-grid-row-align: auto;
    align-self: auto;
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 0%;
    -ms-flex: 1 1 0%;
    flex: 1 1 0%;
    min-width: 0;
}




/* =========================== Footer thread - LEFT SIDE =========================== */

.comment__footer {
    display: flex;
}

.massdrop--new_atomic_styling .atomic_styles__container * {
    line-height: 1;
}

.comment__footer .links--action {
    margin-right: 20px;
    font-family: gordita,Helvetica,Arial,Verdana,sans-serif;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: .6px;
    color: #849493;
    text-transform: uppercase;
}

.links--action {
    color: #849493;
}

.icon .material-icons .endorsement__icon {
    padding: 5px 10px 5px 5px;
    margin: -5px;
}

.links--with_text .icon {
    width: auto;
}

.links .icon {
    font-size: 16px;
    margin-right: 5px;
    vertical-align: middle;
    color: inherit;
}

.material-icons {
    font-size: 16px;
    width: 24px;
    line-height: 24px;
    text-align: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    vertical-align: middle;
    font-style: normal !important;
}

.links:not(.links--text_only) .links__text {
    display: inline-block;
    vertical-align: middle;
}


.links .icon {
    font-size: 16px;
    margin-right: 5px;
    vertical-align: middle;
    color: inherit;
}

.links--with_text .icon {
    width: auto;
}


.comment__misc_info_actions{
    padding-right: 15px;
}


svg:not(:root).svg-inline--fa{
    padding-right:7px;
}

.svg-inline--fa.fa-w-6{
    width:.5em; 
}

.svg-inline--fa.fa-w-14 {
    width:1em;
    padding-top:5px;
}


/* =========================== Footer thread - RIGHT SIDE =========================== */
.comment__footer .comment__footer--right {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    float: right;
    position: absolute;
    right: 0;
    width: 126px;
    padding-left:6px;
}

.menu {
    position: relative;
    font-size: 12px;
}
.card {
    border: transparent !important;
}

.menu__toggle {
    z-index: 10;
    color: #849493;
    user-select: none;
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}


.comment__footer .favorites__tooltip {
    top: -2px;
    padding-right: 8px;
}

.favorites__tooltip {
    line-height: 22px;
}

.tooltip__toggle {
    display: inline-block;
    position: relative;
}

.comment__footer  .favorites__tooltip .favorite {
    margin: 0;
}

.favorite.links.links--action, .favorite.links.links--normal {
    font-family: gordita,Helvetica,Arial,Verdana,sans-serif;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: .6px;
    color: #849493;
    text-transform: uppercase;
}

.link_button--referral, .links--text_only .links__text {
    display: inline;
    vertical-align: inherit;
}

.comment__footer .favorites__tooltip .favorite .icon.material-icons.material-icon--bookmark_border {
    color: #849493;
    font-size: 22px;
}

.comment--employee .comment {
    border-left: 2px solid #14b6ad;
}

.comment__main .rich_content__container {
    margin-bottom: 10px !important;
    padding-right:15px !important;
}
.comment__wrapper {
    box-sizing:relative;
}

#editor {
    height:auto;
}
/* .row--comment__body {
    margin-left: 0px !important;
} */



.comment_owner__avatar--large {
    min-width: 46px;
    width: 46px;
    margin-right: 10px;
}


.responsive_avatar {
    border-radius: 50%;
    border: 1px solid #d9dede;
    height: 100%;
}

.comment_owner__avatar--large {
    min-width: 46px;
    width: 46px;
    margin-right: 10px;
}



.username {
    font-family: gordita,Helvetica,Arial,Verdana,sans-serif;
    font-size: 13px;
    font-weight: 500 !important;
    line-height: 1.69;
    letter-spacing: -.3px;
    color: #042b28 !important;
}


.user--all .username {
    line-height: 16px;
}
.username__container {
    line-height: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    height: 1;
}


a, .massdrop--new_atomic_styling .atomic_styles__container a:active, .massdrop--new_atomic_styling .atomic_styles__container a:focus, .massdrop--new_atomic_styling .atomic_styles__container a:hover, .massdrop--new_atomic_styling .atomic_styles__container a:link {
    /* letter-spacing: inherit; */
    text-decoration: none;
    text-transform: none;
}



.massdrop--new_atomic_styling .atomic_styles__container a.my_list_button>span.link_button--referral>i.icon.icon_button:before, .massdrop--new_atomic_styling a.my_list_button>span.links__text>i.icon.icon_button:before, .r_form__select[data-mimic=select]:after, [class*=" icon-"]:before, [class^=icon-]:before, [data-mimic=select].r_form__state:after {
    font-family: fontello;
    font-style: normal;
    font-weight: 400;
    speak: none;
    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: .2em;
    text-align: center;
    font-variant: normal;
    text-transform: none;
    line-height: 1em;
    margin-left: .2em;
}


.atomic_styles__container a, .atomic_styles__container a:active,  .atomic_styles__container a:focus, .atomic_styles__container a:hover,.atomic_styles__container a:link {
    letter-spacing: inherit;
    text-decoration: none;
    text-transform: none;
}


.community__site_header--new .link--primary, .community__site_header--new .link--secondary, .community__site_header--new .link_button--primary, .community__site_header--new a, .link--primary, .link--secondary, .link_button--primary, a {
    font-family: gordita,Helvetica,Arial,Verdana,sans-serif;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: .6px;
    color: #849493 !important;
    text-transform: uppercase;
}

.tag.user__endorsements {
    font-family: gordita,Helvetica,Arial,Verdana,sans-serif;
    font-size: 10px;
    font-weight: 500;
    letter-spacing: .9px;
    color: #849493;
    text-transform: uppercase;
    border-color: #d9dede;
    margin-left: 5px;
}

.user__endorsements {
    border-color: #d9dede;
    margin-left: 5px;
    margin-right: 0;
    padding-top: 2px;
    padding-bottom: 2px;
}


.tag {
    border-radius: 3px;
    border: 1px solid #849493;
    color: #042b28;
    padding: 3px;
    font-size: 10px;
    line-height: 1;
    text-transform: none;
    display: inline;
    vertical-align: inherit;
}

.icon-container {
    z-index: 1000;
}


.follow_button .icon-follow, .follow_button .icon-followed {
    font-size: 15px;
    margin-right: 5px;
    vertical-align: baseline;
}

.button, a.button.links.links--with_text>span {
    font-weight: 500;
    letter-spacing: .5px;
    text-transform: uppercase;
    vertical-align: middle;
}

input, textarea, select, button {
    text-rendering: auto;
    color: initial;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    margin: 0em;
    font: 400 11px system-ui;
}


.comment__timestamp {
    margin-left: auto;
    font-family: gordita,Helvetica,Arial,Verdana,sans-serif;
    font-size: 10px !important;
    font-weight: 500 !important;
    letter-spacing: .9px !important;
    color: #849493;
    text-transform: uppercase;
}

.comment__timestamp  .timestamp {
    float: none;
    line-height: 24px;
    text-align: center;
    width: 24px;
    height: 24px;
}

.tag {
    display: inline-block;
    vertical-align: middle;
    font-size: 16px;
    text-transform: capitalize;
    margin: 1px 0px 4px 5px !important;
}


.button--small, .button--small-no-min-width, .button--small-no-min-width.button>span, .button--small.button>span {
    font-size: 2px;
    line-height: 2;
}


a.my_list_button>span.link_button--referral>i.icon.icon_button:before, a.my_list_button>span.links__text>i.icon.icon_button:before, .r_form__select[data-mimic=select]:after, [class*=" icon-"]:before, [class^=icon-]:before, [data-mimic=select].r_form__state:after {
    font-family: fontello;
    font-style: normal;
    font-weight: 400;
    speak: none;
    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: .2em;
    text-align: center;
    font-variant: normal;
    text-transform: none;
    line-height: 1em;
    margin-left: .2em;
}


.button--small, .button--small-no-min-width, .button--small-no-min-width.button>span, .button--small.button>span {
    font-size: 12px;
    line-height: 20px !important;
}

.follow_button {
    margin-left: 10px;
    height: auto;
    width: 28px;
    padding: 0;
    min-width: 0;
}




/* =============== Conversation SubThread ====================== */

a.my_list_button>span.link_button--referral>i.icon.icon_button:before, a.my_list_button>span.links__text>i.icon.icon_button:before, .r_form__select[data-mimic=select]:after, [class*=" icon-"]:before, [class^=icon-]:before, [data-mimic=select].r_form__state:after {
    font-family: fontello;
    font-style: normal;
    font-weight: 400;
    speak: none;
    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: .2em;
    text-align: center;
    font-variant: normal;
    text-transform: none;
    line-height: 1em;
    margin-left: .2em;
    margin-right: 15px !important;
}




/*  ==================== LOAD MORE ================= */
.conversation__load_more_button, .conversation__search_root_footer {
    border-top: 1px solid #d9dede;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding: 0 15px;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    height: 50px;
    background: #fafafa;
    cursor: pointer;
}

.conversation__load_more_button .link_button--referral, .conversation__load_more_button .links__text, .conversation__search_root_footer .link_button--referral, .conversation__search_root_footer .links__text {
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: 1px;
    text-align: center;
    font-size: 11px;
    display: inline-block;
    height: 50px;
    line-height: 50px;
}

.links--blue, .links--normal:hover {
    color: #14b6ad;
    text-align: center;
}


.conversation__load_more_button {
    border-bottom: 1px solid #d9dede;
}

.conversation__load_more_button, .conversation__search_root_footer {
    border-top: 1px solid #d9dede;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding: 0 15px;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    height: 50px;
    background: #fafafa;
    cursor: pointer;
}
.icon-down-open {
    width:50px;
}

.icon-down-open-big {
    color: #849493;

}

.conversation__load_more_button {
    text-align: center;
    justify-content: space-between;
}

.comment--reply {
    background: none;
    border-top: 1px solid #d9dede;
    padding-left: 0;
    padding-right: 0;
}

.conversation_replies>div:first-child .comment--reply {
    border-top: 0;
}

.content_card {
    padding: 10px;
}

.links--normal {
    color: #849493;
}

.avatar__wrapper .responsive.avatar {
    height: 100%;
}


 a, a:active, a:focus,  a:hover, a:link {
    letter-spacing: inherit;
    text-decoration: none;
    text-transform: none;
}

.comment__footer .comment__footer--right {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    right: 0;
}
.conversation_replies .comment {
    padding-left: 56px !important;
    display: flex;
    padding:20px;
    height:auto;
    background: #fafafa;
    border-radius: 0px;
    margin-top: -13px !important;
}

.dropdown_index {
    z-index: 2;
    border-top:20px;
}

.dropdown {
   color: #849493;
   z-index: 10;
    
}

.comment {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}


/* .conversation__load_more_button .comment {
    display: flex;
    padding-left: 56px;
    height:auto;
    background: #fafafa;
    border-radius: 0px;
} */

.user__avatar {
    float: none;
    width: auto;
    margin-right: 10px;
}


.reply_tag {
    float: left;
    border-radius: 15px;
    padding: 0 5px;
    position: relative;
    margin: 0 5px 0 0;
    border-color: #d9dede;
    background-color: #d9dede;
}

.comment__body span {
    font-size: inherit;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
}

a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: none !important;
;
}




/* ================= HOVER ===================== */
.ql-toolbar button:hover {
    background: #d9dede;
    color: #14b6ad;
}


.link_button--primary:hover {
    border-color: #18d7cc;
    color: #18d7cc;
}

.link_button--primary:hover, a:hover {
    cursor: pointer;
}

.active:hover{
    color: #14b6ad;
}

.text:hover{
    border: #14b6ad;

}

.discussion_search_field .form_text_field:active{
    border-color: #14b6ad !important;
}
.communities__filter2_item:hover {
    color: #14b6ad;
}
.communities__filter2_item_list{
    margin-top: 10px;
}


.communities__filter2--current:hover {
    border-color: #14b6ad;
    color: #14b6ad;

}

.links__text:hover {
    color: #14b6ad;
}

.links--normal:hover {
    color: #14b6ad;
}


.comment__body .reply_tag .username:hover {
    color: #18d7cc;
}

.comment__footer .links--action:hover {
    color: #18d7cc;
}


.menu__toggle:hover {
    color: #18d7cc;
    cursor: pointer;
}

.favorites__tooltip:hover .links:not(.links--mobile):not(.links--active), .favorites__tooltip:hover .links:not(.links--mobile):not(.links--active) .icon.material-icons.material-icon--bookmark_border {
    color: #18d7cc;
}

.ql-toolbar button:hover .ql-stroke {
    stroke: #14b6ad;
}

.ql-toolbar button:focus {
    stroke: #14b6ad;
}

.ql-toolbar button:active .ql-stroke {
    stroke: #14b6ad;
}


.ql-toolbar button:hover {
    background: #d9dede;
    color: #14b6ad !important;
}

.ql-toolbar button:hover {
    background: #d9dede;
    color: #14b6ad;
}